/* custom styles */
@font-face {
    font-family: VazirPersian;
    src: url('../assets/fonts/Vazir.woff');
}

html{
    font-family: VazirPersian,'sans-serif';
}
.skeletonLoaderCard{
    direction: rtl;
}

.v-skeleton-loader__image{
    height: 80px ;
    border-radius: 2rem;
}
tr > th , tr > td{
    text-align: right;
}

table{
    direction: rtl;
    /* border:2px solid #d1ccc0; */
}


.vpd-body {
    background-color: rgba(0, 0, 0, 0.567);
  }
  .vpd-actions > buttons:hover {
    border-radius: 1rem;
  }
  
  .v-input {
    text-align: right !important;
  }
  .v-field__input {
    text-align: right !important;
  }
  .v-field-label {
    right: 0;
  }
  .v-stepper-header{
    z-index: 0;
  }

  .myAnimate {
    position: relative;
    animation: slideFromLeft 1s ease-out forwards;
  }
  
  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  /* Drawer */
  .listSettings{
    direction: rtl;
  }
  .switchBtn{
    transform: scale(1.1);
  }
  .v-field-label{
    direction: rtl;
  }
  .v-overlay__content{
    background-color: #86efac !important;
    font-size: 1rem !important;
    /* color: #15803d !important; */
    color: black !important;
    font-weight: 600 !important;
    text-align: center;
    
  }
  .column_order > .v-overlay__content{
    background-color: transparent !important;

  } 
.loading_text{
  animation: loadingText 1.5s ease-out infinite alternate;
}

@keyframes loadingText{
  0%{
    transform: scale(1);
    opacity: .2;
    
  }100%{
    transform: scale(1.2);
    opacity:1;
  }
}
  .v-select__selection {
    width: 100%;
    justify-content: flex-end;
    }
  /* End of Drawer */


  .tableHeadings {
    background-color: red;
    padding: 20px;
  }
  
  .the_table {
    filter: drop-shadow(4px 4px 5px #777575);
    direction: rtl;
  }
  
  .swal2-actions {
    flex-direction: row-reverse !important;
  }
  .v-field__append-inner{
    grid-area: auto;
  }

  .tableHavingContact{
    --animate-duration: 3.5s;
  }




  /* Table Filter  */

  

.ghost {
  opacity: 0.5 !important;
  transition: all .5s ease-in-out !important;
}

